<!DOCTYPE HTML>
<html ng-app="ticTacToeApp">

    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
        <script src="script.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>

    <body ng-controller="ticTacToeCtrl">

        <div class="message">
            <label id="gameMsg">
                Player X
            </label>
        </div>

        <div class="message">
            <a href="#" id="restart" ng-click="restart()">
            </a>
        </div>


        <div class="board">
            <div class="row" ng-repeat="row in board">
                <div class="cell" ng-repeat="cell in row" ng-click="markCell(cell)">
                    {{ cell.mark }}
                </div>
            </div>
        </div>


    </body>
</html>
